 .sidebar {
      min-height: 100vh;           
      width: 260px;                /* largeur fixe du menu */
      background-color: #3E5902; 
    
               background-image: url("../images/bg.jpg"); /* fond sombre comme souvent */
    }
    .main-content {
      flex-grow: 1;                /* prend tout le reste de la largeur */
    }
    .nav-link {
      color: #060f2c;
      padding: 0.75rem 1.25rem;
    }
    .nav-link:hover,
    .nav-link.active {
      color: white;
      background-color: rgba(255,255,255,0.08);
      
    }
    .nav-link.active {
      border-left: 4px solid #935007ff;
    }

    body {
      /* background-image: url("../images/bg.jpg"); */
      background-color: azure;
      background-size: cover;
      background-attachment: fixed;
    }
    /* From Uiverse.io by Codewithvinay */ 




