 .sidebar {
      min-height: 100vh;           
      width: 260px;                /* largeur fixe du menu */
      background-color: #3E5902; 
      box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;  /* fond sombre comme souvent */
    }
    .main-content {
      flex-grow: 1;                /* prend tout le reste de la largeur */
    }
    .nav-link {
      color: #ffffff;
      padding: 0.75rem 1.25rem;
    }
    .nav-link:hover,
    .nav-link.active {
      color: white;
      background-color: rgba(255,255,255,0.08);
    }
    .nav-link.active {
      border-left: 4px solid #935007ff;
    }

    /* From Uiverse.io by Codewithvinay */ 
/* .card {
 width: 190px;
 height: 254px;
 border-radius: 50px;
 background: #e0e0e0;
 
} */

<button>
  <div class="button-outer">
    <div class="button-inner">
      <span>Push</span>
    </div>
  </div>
</button>            


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: rgba(225, 225, 225, 1);
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

