   
    .main-content {
      flex-grow: 1;                /* prend tout le reste de la largeur */
    }
    .nav-link {
      color: #ffffff;
      padding: 0.75rem 1.25rem;
    }
    .nav-link:hover,
    .nav-link.active {
      color: white;
      background-color: rgba(255,255,255,0.08);
      
    }
    .nav-link.active {
      border-left: 4px solid #935007ff;
    }

    .map-container {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }

    body {
      background-image: url("../images/accueil.jpg"); 
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Raleway', sans-serif;
    
    }

    h1 {
        font-size: 80px;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    p{
        font-size: 18px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        font-family: 'Raleway', sans-serif;
        
    }




